{
  "extends": "@so1ve",
  "overrides": [
    {
      "files": "*.css",
      "parser": "@css-eslint/parser-css",
      "plugins": ["@css-eslint/css"],
      "rules": {
        "@css-eslint/css/foo": "error"
      }
    }
  ]
}
